* {
  padding: 0%;
  margin: 0%;
  font-family: "Roboto", sans-serif;
}
header {
  width: 100%;
  height: 60px;
  display: flex;
  background: #7a9fbf;
  position: fixed;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
header .menu {
  width: 80%;
  height: 60px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
header .menu .logo {
  font-family: lucida handwriting;
  font-size: 38px;
  font-weight: 600;
  color: White;
  align-self: center;
}
header .menu ul {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 60px;
}
header .menu ul li {
  list-style-type: none;
}
header .menu ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  display: block;
  color: white;
}
header .menu .research {
  /* border: 1px solid red; */
  padding: 20px;
}
header .menu .research a {
  display: block;
}
header .menu ul li .fa-solid {
  margin-right: 5px;
}
.sport {
  padding: 16px;
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #7a9fbf;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #6f7302;
}

.dropdown:hover .dropdown-content {
  display: block;
  color: #444444;
}

.dropdown:hover .dropbtn {
  background-color: #458efe;
}

.blogdetailcontaianer {
  padding-top: 80px;
  width: 1200px;
  height: 1040px;
  margin: auto;
  /* background-color: red; */
}

.blogdetailtrending {
  width: 380px;
  height: 1040px;
  margin-left: 13px;
  float: right;
}

.blogdetailcontent {
  width: 800px;
  height: 620px;
  float: left;
}

.blogdetailcontent h2 {
  color: #3e4053;
  font-size: 30px;
}
.blogdetailcontent p {
  color: gray;
  margin-top: -12px;
}

.blogdetailpostdate {
  color: gray;
  margin-top: -10px;
}
.blogdetailimage {
  width: 100%;
  height: 450px;
  margin-top: 25px;
}

.blogdetailimage img {
  width: 100%;
  height: 100%;
}

.blogdetialtext {
  width: 100%;
  height: 400px;
  margin-top: 30px;
}

.blogdetialtext h2 {
  font-size: 30px;
  color: black;
}

.blogdetialtext p {
  font-size: 18px;
  padding: 2px 0;
  color: black;
}

.trendingcontent {
  width: 100%;
  height: 110px;
  border-bottom: 1px solid gray;
  /* border-top: 1px solid gray; */
  margin-bottom: 15px;
  /* background-color: green; */
}
.blogdetailtrending h2 {
  padding-top: 10px;
  color: #1660a2;
}
.trendingcontentimage {
  width: 110px;
  height: 100%;
  float: left;
  background-color: red;
}

.trendingcontentimage img {
  width: 100%;
  height: 100%;
}
.trendingcontenttext {
  width: 270px;
  height: 100%;
  float: right;
  /* background-color: red; */
}

.trendingcontenttext p {
  color: gray;
  margin-top: 1px;
  font-size: 14px;
  padding-left: 5px;
}
.trendingcontenttext h4 {
  margin-top: -6px;
  font-size: 18px;
  padding-left: 5px;
}

.advertisement {
  width: 100%;
  height: 420px;
}
.advertisement img {
  width: 100%;
  height: 100%;
}
