* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
header {
  width: 100%;
  height: 60px;
  display: flex;
  background: #7a9fbf;
  position: fixed;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
header .menu {
  width: 80%;
  height: 60px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
header .menu .logo {
  font-family: lucida handwriting;
  font-size: 38px;
  font-weight: 600;
  color: White;
  align-self: center;
}
header .menu ul {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 60px;
}
header .menu ul li {
  list-style-type: none;
}
header .menu ul li a {
  text-decoration: none;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: white;
}
header .menu .research {
  /* border: 1px solid red; */
  padding: 20px;
}
header .menu .research a {
  display: block;
}
header .menu ul li .fa-solid {
  margin-right: 5px;
}
.sport {
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #7a9fbf;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #6f7302;
}

.dropdown:hover .dropdown-content {
  display: block;
  color: #444444;
}

.dropdown:hover .dropbtn {
  background-color: #458efe;
}
.container {
  width: 100%;
  height: auto;
  padding-top: 80px;
}
.container .main {
  width: 75%;
  height: auto;
  /* background-color: antiquewhite; */
  margin: 0 auto;
}
.container .main .row1 {
  width: 100%;
  height: 500px;
  /* background-color: aqua; */
  display: flex;
}
.container .main .row1 .pic {
  width: 40%;
  height: 500px;
  /* background-color: blue; */
}
.container .main .row1 .pic img {
  width: 100%;
  height: 500px;
}
.container .main .row1 .details {
  width: 55%;
  height: 500px;
  /* background-color:brown; */
  margin-left: 5%;
  display: flex;
}
.container .main .row1 .details .columns1 {
  width: 50%;
  height: 500px;
}
.container .main .row1 .details .columns1 h2 {
  color: black;
  font-size: 30px;
  margin-top: 100px;
}
.container .main .row1 .details .columns1 p {
  color: black;
  font-size: 20px;
  padding: 30px 0px 0px;
}
.container .main .row1 .details .columns2 {
  width: 50%;
  height: 500px;
}
.container .main .row1 .details .columns2 img {
  width: 100%;
  height: 300px;
}
.container .main .row1 .details .columns2 p {
  color: black;
  font-size: 20px;
  padding: 20px 0px 0px;
}
.container .main .row2 {
  width: 100%;
  height: auto;
  /* background-color: aqua; */
  display: flex;
  margin-top: 5px;
  flex-wrap: wrap;
}
.container .main .row2 .box {
  width: 24%;
  height: 300px;
  /* background-color:#42564B; */
  margin-right: 1%;
  margin-top: 10px;
}
.container .main .row2 img {
  width: 100%;
  height: 200px;
}
.container .main .row2 p {
  font-family: "Times New Roman", Times, serif;
  padding: 10px 70px 0px;
  color: black;
}
.container .main .row3 {
  width: 100%;
  height: 450px;
  /* background-color: coral; */
  display: flex;
  border-top: 2px solid black;
}
.container .main .row3 .Features {
  width: 40%;
  height: 450px;
  /* background-color: aqua; */
  margin-right: 2%;
}
.container .main .row3 .Features h2 {
  font-size: 30px !important;
  margin-top: 15px;
  text-align: center;
}
.container .main .row3 .Features h2,
p,
a {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 10px;
}
.container .main .row3 .Features img {
  width: 100%;
  height: 250px;
  margin-top: 20px;
}
.container .main .row3 .card {
  width: 58%;
  height: 450px;
  /* background-color: rgb(61, 170, 3); */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}
.container .main .row3 .card .card1 {
  width: 33%;
  height: 220px;
  /* background-color: blue; */
}
.container .main .row3 .card .card1 img {
  width: 100%;
  height: 150px;
}
