@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("./card.css");
@import url("./blogs.css");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
header {
  width: 100%;
  height: 60px;
  display: flex;
  background: #7a9fbf;
  position: fixed;
  z-index: 99;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
header .menu {
  width: 80%;
  height: 60px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
header .menu .logo {
  font-family: lucida handwriting;
  font-size: 38px;
  font-weight: 600;
  color: White;
  align-self: center;
}
header .menu ul {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 60px;
}
header .menu ul li {
  list-style-type: none;
}
header .menu ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  display: block;
  color: white;
}
header .menu .research {
  /* border: 1px solid red; */
  padding: 20px;
}
header .menu .research a {
  display: block;
}
header .menu ul li .fa-solid {
  margin-right: 5px;
}
.sport {
  padding: 16px;
  font-weight: 500;
  font-size: 16px;
  color: white;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #7a9fbf;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #6f7302;
}

.dropdown:hover .dropdown-content {
  display: block;
  color: #444444;
}

.dropdown:hover .dropbtn {
  background-color: #458efe;
}
.container {
  width: 100%;
  padding-bottom: 40px;
}
.container .banner {
  height: 700px;
  background-image: url("./../img/hiking-safety.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: White;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .banner .text {
  color: white;
  font-weight: 600;
  font-size: 32px;
}
h1 {
  font-size: 32px;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}
h6 {
  font-size: 12px;
}
p {
  font-size: 14px;
}
h1,
h2,
p {
  color: #444444;
}
.grid-container {
  display: flex;
  gap: 60px;
  padding: 10px;
  justify-content: center;
}
.grid-item {
  width: 33%;
  color: black;
}
.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1%;
  height: 380px;
}
.card_content {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 380px;
}
.cardImg {
  background: pink;
  height: 140px;
  weight: 100%;
  object-fit: cover;
}
.cardBtn {
  background: #e6ebff;
  border: 0;
  height: 28px;
}
section {
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
}
