@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('./card.css');

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
header {
  width: 100%;
  height: 60px;
  display: flex;

}
header .menu {
  width: 80%;
  height: 60px;
  display: flex;
  margin: auto;
  border-bottom: 2px solid black;
  justify-content: space-between;
}
header .menu .logo {
  padding: 20px 50px 20px 50px;
}
header .menu ul {
  display: flex;
  align-items: center;
  margin-left: 50px;
  align-items: center;
  text-transform: uppercase;
}
header .menu ul li {
  list-style-type: none;
  padding: 17px 30px 17px 30px;
}
header .menu ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  
  color: #3F009E;

  display: block;
}
header .menu .research {
  /* border: 1px solid red; */
  padding: 20px;
}
header .menu .research a {
  display: block;
}
header .menu ul li .fa-solid {
  margin-right: 5px;
}
.sport {
    color: #3F009E;
    padding: 16px; 
    font-weight: 500;

  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color:#458efe; ;
    color:white
  }
.container {
  width: 100%;
  height: auto;
}
.container .main {
  height: 700px;
  background-image: url("./../img/hiking-safety.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: White;
}
.container h1,
p {
  text-align: center;
}
.container h1 {
  color: #458efe;
}
.container .buttonGroup {
    display:flex;
    justify-content:center;
}

.container .buttonGroup input {
  background-color: #4caf50;
  border-radius: 5px;
  color: white;
  padding: 10px 40px;
  text-align: center;
  font-size: 16px;
  margin-left: 30px;
  margin-top: 60px;
}
.container .box {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.container .box .box1 {
  width: 150px;
  height: 100px;
  background-color: brown;
  margin-top: 130px;
  margin-right: 130px;
}
.container .box .box1 .fa-solid {
  font-size: 50px;
  padding: 25px 45px;
}
.container .boxh3 {
  width: 100%;
  height: 100px;
}
.container h3 {
  padding: 30px;
  text-align: center;
  color: black;
  font-size: 30px;
  
}
.container .discover {
  width: 80%;
  height: 1030px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 250px;
}
.container .discover .items {
  width: 300px;
  height: 500px;
  background-color: blueviolet;
  margin-right: 50px;
  margin-bottom: 30px;
}
.container .discover .items .title {
  width: 100%;
  height: 50px;
  
  font-size: 20px;
  text-align: center;
  padding: 12px;
  background-color: antiquewhite;
}
.container .discover .items .pic {
  width: 100%;
  height: 250px;
}
.container .discover .items .pic img {
  width: 100%;
  height: 250px;
}
.container .discover .items .paragraph {
  width: 100%;
  height: 80px;
}
.container .page1 {
  width: 80%;
  height: 780px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.container .page1 .columns1 {
  width: 30%;
  height: 780px;
  /* background-color: aqua; */
}
.container .page1 .columns1 .above {
  width: 100%;
  height: 350px;
}
.container .page1 .columns1 .above p {
  font-size: 20px;
  
  padding: 60px;
}
.container .page1 .columns1 .below {
  width: 100%;
  height: 400px;
}
.container .page1 .columns1 .below img {
  width: 100%;
  height: 400px;
}
.container .page1 .columns2 {
  width: 30%;
  height: 500px;
  margin-top: 140px;
}
.container .page1 .columns2 h2 {
  font-size: 30px;
  
  text-align: center;
  padding: 20px 0px;
}
.container .page1 .columns2 img {
  width: 100%;
  height: 400px;
}
.container .page2 {
  width: 80%;
  height: 700px;
  margin: auto;
  display: flex;
  margin-top: 20px;
}
.container .page2 .picture {
  width: 48%;
  height: 700px;
  margin-right: 130px;
}
.container .page2 .picture h3 {
  font-size: 40px;
  
  margin-top: 30px;
}
.container .page2 .picture p {
  font-size: 20px;
  
  margin-top: 30px;
}
.container .page2 .picture img {
  width: 100%;
  height: 300px;
}
.container .page2 .txt {
  width: 30%;
  height: 250px;
  margin-top: 215px;
}
.container .page2 .txt p {
  font-size: 24px;
}
.container .page5 {
  width: 100%;
  height: 700px;
  background-image: url("./../img/1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.container .page5 .p {
  width: 800px;
  height: 300px;
  margin-left: 50px;
  padding: 70px;
}
.container .page5 .p h3 {
  color: white;
  font-size: 30px;
  
}
.container .page5 .p p,
h3 {
  color: white;
  font-size: 30px;
}

