@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("./card.css");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
header {
  width: 100%;
  height: 60px;
  display: flex;
}
header .menu {
  width: 80%;
  height: 60px;
  display: flex;
  margin: auto;
  border-bottom: 2px solid black;
  justify-content: space-between;
}
header .menu .logo {
  padding: 20px 50px 20px 50px;
}
header .menu ul {
  display: flex;
  align-items: center;
  margin-left: 50px;
  align-items: center;
  text-transform: uppercase;
}
header .menu ul li {
  list-style-type: none;
  padding: 17px 30px 17px 30px;
}
header .menu ul li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;

  color: #3f009e;

  display: block;
}
header .menu .research {
  /* border: 1px solid red; */
  padding: 20px;
}
header .menu .research a {
  display: block;
}
header .menu ul li .fa-solid {
  margin-right: 5px;
}
.sport {
  color: #3f009e;
  padding: 16px;
  font-weight: 500;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #458efe;
  color: white;
}
.container {
  width: 100%;
  padding-bottom: 40px;
}
.container .banner {
  height: 700px;
  background-image: url("./../img/hiking-safety.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: White;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .banner .text {
  color: white;
  font-weight: 600;
  font-size: 36px;
}
.grid-container {
  display: flex;
  gap: 60px;
  padding: 10px;
  justify-content: center;
}
.grid-item {
  width: 300px;
  height: 310px;
  color: black;
}
.card,
.card_content {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: full;
}
.card_content {
  padding: 0 20px;
  padding-bottom: 20px;
}
.cardImg {
  background: pink;
  height: 140px;
  weight: 100%;
  object-fit: cover;
}
.cardBtn {
  background: #e6ebff;
  border: 0;
  height: 28px;
}
section {
  width: 80%;
  margin: auto;
  
  
}
